$fontFamily: 'PT-Root-UI-VF', Arial, Helvetica, sans-serif;
$fontSizeBase: 16px;
$fontSizeTitle: 40px;
$fontWeightRegular: 400;
$fontWeightBold: 700;

$backgroundColor: "#ffffff";
$fontColorDark: "#374146";
$fontColorLight: "#ffffff";
$accentColor: "#ea5a0a";
$primaryColor: "#7dcdd7";
$secondaryColor: "#374146";

